<table id="menu-icon">
	<tr>
		<td class="menu-petal" id="petal-tl" style="border-bottom-right-radius:0;"></td>
		<td class="menu-petal" id="petal-tr" style="border-bottom-left-radius:0;"></td>
	</tr>
	<tr>
		<td class="menu-petal" id="petal-bl" style="border-top-right-radius:0;"></td>
		<td class="menu-petal" id="petal-br" style="border-top-left-radius:0;"></td>
	</tr>
</table>