<div id="open-menu">
	<div id="menu-x">
		<div id="x1" class="menu-x-component" style="transform:rotate(45deg);"></div>
		<div id="x2" class="menu-x-component" style="transform:rotate(-45deg);"></div>
	</div>
	<div id="menu-list">
		<ul>
			<a class="menu-item" href="/#home"><li>HOME</li></a>
			<a class="menu-item" href="/#about"><li>ABOUT</li></a>
			<a class="menu-item" href="/#resume"><li>RESUME</li></a>
			<a class="menu-item" href="/#contact"><li>CONTACT</li></a>
			<a class="menu-item" href="/undertheumbrella"><li>BLOG</li></a>
		</ul>
	</div>
	<div id="menu-social-media">
		<a href="https://www.facebook.com/robby.schwartz.7" target="_blank"><i class="fab fa-facebook" style="margin-right: 10px;"></i></a>
		<a href="https://www.linkedin.com/in/rob-schwartz-0a4974135/" target="_blank"><i class="fab fa-linkedin" style="margin-right: 10px;"></i></a>
		<a href="mailto:rob.g.schwartz@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
	</div>
</div>