<div id="about">
	<div id="about-backdrop">
		<div id="about-text" class="content-text">
			<img src="images/rob.jpg">
			<h3>About Me</h3>
			<p>
				I’m a Seattle transplant from Boston, a recent college graduate, and a young professional with passions for technology and business.
			</p>
			<p>
				I'm also a risk-taker, an original thinker, and a committed friend. I love connecting with new people and am always looking for opportunities to grow. To stay up to date on my thoughts and endeavors, check out my blog, <a href="https://the-residual.com">The Residual</a>.
			</p>
			<hr>
			<h3>Where I've Been</h3>
			<p>
				I graduated from Amherst College in May 2019 with degrees in Computer Science and Philosophy. Along the way, I took courses in algorithms, data structures, artificial intelligence, and machine learning. I was also Co-Founder and CTO of <a href="https://www.rateourcourses.com" target="_blank">RateOurCourses.com</a>, a course and professor review website for Amherst students.
			</p>
			<p>
				After graduation, I began working in Los Angeles as a data analyst for a financial consultancy firm. I remained in that position until this year, when I moved to Seattle to pursue my interests in technology.
			</p>
			<hr>
			<h3>What I'm Doing Now</h3>
			<p>
				Since arriving in the Pacific Northwest, I’ve taken up work as a freelance software and web developer. I’m most comfortable with Java and Python, and I enjoy building programs to streamline some of my activities, such as fantasy sports research and data aggregation. Check out my <a href="https://github.com/rgsthethird" target="_blank">Github</a> to see what I've been up to recently.
			</p>
			<p>
				When I'm not working, you can find me exploring hiking trails in the Seattle area, searching for the best cup of coffee in Capitol Hill, or binging past seasons of CBS's Survivor.
			</p>
			<hr>
			<h3>What's Next</h3>
			<p>
				I’m currently looking for a position as a software engineer. I’m hoping to find an enthusiastic and motivated team of people that's developing technology for an innovative company.
			</p>
			<p>
				I'd love to hear from you. <a href="#contact">Shoot me a message</a>!
			</p>
		</div>
	</div>
	<div id="about-image">
		<p class="page-header" style="margin-left:-136.7px;">ABOUT</p>
		<ul class="image-menu">
			<li><a href="#about">ABOUT</a></li>
			<li>/</li>
			<li><a href="#resume">RESUME</a></li>
			<li>/</li>
			<li><a href="#contact">CONTACT</a></li>
			<li>/</li>
			<li><a href="https://the-residual.com">BLOG</a></li>
		</ul>
	</div>
</div>