<div id="about">
	<div id="about-backdrop">
		<div id="about-text" class="content-text">
			<img src="images/rob2.jpg">
			<h3>About Me</h3>
			<p>
				I'm a transplant from Boston in San Diego, where I manage a software QA engineering team for a late-stage startup.
			</p>
			<p>
				I love connecting with new people and am always looking for opportunities to grow. To stay up to date on my thoughts and endeavors, check out my blog, <a href="https://the-residual.com">The Residual</a>.
			</p>
			<hr>
			<h3>Where I've Been</h3>
			<p>
				I graduated from Amherst College in May 2019 with degrees in Computer Science and Philosophy. Along the way, I took courses in algorithms, data structures, computer systems, and machine learning, among others. I was also Co-Founder and CTO of <a href="https://www.rateourcourses.com" target="_blank">RateOurCourses.com</a>, a course and professor review website for Amherst students.
			</p>
			<p>
				After graduation, I began working in Los Angeles as a data analyst for a financial consultancy firm. I remained in that position until early 2020, when I left to pursue my interests in software development.
			</p>
			<p>
				In February 2021, I joined my current company as a QA engineer, and I began managing that team in August.
			</p>
			<hr>
			<h3>What I'm Doing Now</h3>
			<p>
				Outside of work, you can find me exploring hiking trails around San Diego, searching for the best cup of coffee in North Park, or binging past seasons of CBS's Survivor.
			</p>
			<p>
				I'm also working on some apps and other projects in my free time. Check out my <a href="https://github.com/rgsthethird" target="_blank">Github</a> to see what I've been up to recently.
			</p>
			<hr>
			<h3>What's Next</h3>
			<p>
				Keep growing, keep learning, and keep pushing myself.
			</p>
			<p>
				I'd love to hear from you. <a href="#contact">Shoot me a message</a>!
			</p>
		</div>
	</div>
	<div id="about-image">
		<p class="page-header" style="margin-left:-136.7px;">ABOUT</p>
		<ul class="image-menu">
			<li><a href="#about">ABOUT</a></li>
			<li>/</li>
			<li><a href="#resume">RESUME</a></li>
			<li>/</li>
			<li><a href="#contact">CONTACT</a></li>
			<li>/</li>
			<li><a href="https://the-residual.com">BLOG</a></li>
		</ul>
	</div>
</div>