<div id="about">
	<div id="about-backdrop">
		<div id="about-text" class="content-text">
			<img src="images/rob2.jpg">
			<h3>About Me</h3>
			<p>
				I'm based in San Diego, where I work remotely for <a href="https://colonist.io" target="_blank">Colonist.io</a>, an online alternative to the board game Settlers of Catan.
			</p>
			<p>
				I work primarily as a developer, but I also act as a product manager and hiring manager. I lead our <a href="https://blog.colonist.io/play-colonist-on-discord/" target="_blank">Discord Activity</a> team.
			</p>
			<p>
				To stay up to date on my thoughts and endeavors, check out my blog, <a href="https://the-residual.com" target="_blank">The Residual</a>.
			</p>
			<hr>
			<h3>Where I've Been</h3>
			<p>
				I graduated from Amherst College in May 2019 with degrees in Computer Science and Philosophy. Along the way, I took courses in algorithms, data structures, computer systems, and machine learning, among others. I was also Co-Founder and CTO of <a href="https://www.rateourcourses.com" target="_blank">RateOurCourses.com</a>, a course and professor review website for Amherst students.
			</p>
			<p>
				After graduation, I began working in Los Angeles as a consultant for a financial consultancy firm. I remained in that position until early 2020, when I left to pursue my interests in software development.
			</p>
			<p>
				In February 2021, I moved to San Diego to work for <a href="https://whova.com" target="_blank">Whova</a>, an event management software company. I began there as a QA engineer, eventually graduating to manage their QA team. I held that management position for 1.5 years, before moving on to my current role at Colonist.
			</p>
			<hr>
			<h3>What I'm Doing Now</h3>
			<p>
				Outside of work, you can find me exploring hiking trails around San Diego, searching for the best cup of coffee in North Park, or binging past seasons of CBS's Survivor.
			</p>
			<p>
				I'm also working on some apps and other projects in my free time. Check out my <a href="https://github.com/rgsthethird" target="_blank">Github</a> to see what I've been up to recently.
			</p>
			<p>
				Some of my favorite games, which also occupy my time, include: Civ VI, Rocket League, Fortnite, and Brawl Stars.
			</p>
			<hr>
			<h3>What's Next</h3>
			<p>
				Keep growing, keep learning, and keep pushing myself. Maybe build something exciting soon.
			</p>
			<p>
				I'd love to hear from you. <a href="#contact">Shoot me a message</a>!
			</p>
		</div>
	</div>
	<div id="about-image">
		<p class="page-header" style="margin-left:-136.7px;">ABOUT</p>
		<ul class="image-menu">
			<li><a href="#about">ABOUT</a></li>
			<li>/</li>
			<li><a href="#resume">RESUME</a></li>
			<li>/</li>
			<li><a href="#contact">CONTACT</a></li>
			<li>/</li>
			<li><a href="https://the-residual.com">BLOG</a></li>
		</ul>
	</div>
</div>