<div id="contact">
	<div id="contact-backdrop">
		<div style="width:86%;margin: 2.5em auto;">
			<div id="contact-connect">
				<div id="form-header">
					<div class="form-header-box">
						<p>&nbsp;</p>
						<div id="contact-social-media">
							<a href="https://www.linkedin.com/in/robert-schwartz-0a4974135/" target="_blank"><i class="fab fa-linkedin" style="margin-right: 10px;"></i></a>
							<a href="https://www.facebook.com/robby.schwartz.7" target="_blank"><i class="fab fa-facebook" style="margin-right: 10px;"></i></a>
							<a href="https://github.com/rgsthethird" target="_blank"><i class="fab fa-github"></i></a>
							<a href="mailto:rob.g.schwartz@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
						</div>
					</div>
					<div class="form-header-box" id="form-header-box-right">
						<p style="position:absolute;top:2em;right:0;">Seattle, WA 98122</p>
						<a href="mailto:rob.g.schwartz@gmail.com" target="_blank" style="position:absolute;">rob.g.schwartz@gmail.com</a>
					</div>
				</div>
			</div>
			<div id="form-container">
				<div class="form-header-box" style="width:100%;">
					<p id="message-me">Message me</p>
					<p id="available">I'm available for freelance projects and full-time employment.</p>
				</div>
				<form id="contact-form" action="/" method="POST">
					<div class='input-group'>
						<input id="input-name" class='input-left' type="text" name="name" placeholder="Full Name*" required style="left:5%;">
						<input id="input-email" class='input-right' type="email" name="email" placeholder="Email*" required style="right:5%;">
					</div>
					<div class='input-group'>
						<input id="input-phone" class='input-left' type="tel" name="phone" placeholder="Phone" style="left:5%;">
						<input id="input-company" class='input-right' type="text" name="company" placeholder="Organization" style="right:5%;">
					</div>
					<div class='input-group' style="height:9.6em;">
						<textarea id="input-message" name="message" placeholder="Message*" rows="6" required></textarea>
					</div>
					<div class='input-group'>
						<button id="input-submit">SUBMIT</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="contact-image">
		<p class="page-header" style="margin-left:-197px;">CONTACT</p>
		<ul class="image-menu">
			<li><a href="#about">ABOUT</a></li>
			<li>/</li>
			<li><a href="#resume">RESUME</a></li>
			<li>/</li>
			<li><a href="#contact">CONTACT</a></li>
			<li>/</li>
			<li><a href="/undertheumbrella">BLOG</a></li>
		</ul>
	</div>
</div>

