<div id="home">
	<div class="navbar">
		<a id="logo" href="#home"><p class="nav-item">ROB SCHWARTZ</p></a>
		<div id="navbar-container">
			<a href="#about"><p class="nav-item">ABOUT</p></a>
			<a href="#resume"><p class="nav-item">RESUME</p></a>
			<a href="#contact"><p class="nav-item">CONTACT</p></a>
			<a href="/undertheumbrella"><p class="nav-item">BLOG</p></a>
		</div>
	</div>
	<div id="hero">
		<p id="hero-hey">Hey, I'm</p>
		<p id="hero-rob">ROB SCHWARTZ</p>
	</div>
	<div id="hey-highlight"></div>
	<div id="rob-highlight"></div>
	<div id="hero-social">
		<a href="https://www.linkedin.com/in/robert-schwartz-0a4974135/" target="_blank"><i class="fab fa-linkedin" style="padding-left:2px;"></i></a>
		<a href="https://www.facebook.com/robby.schwartz.7" target="_blank"><i class="fab fa-facebook"></i></a>
		<a href="https://github.com/rgsthethird" target="_blank"><i class="fab fa-github"></i></a>
		<a href="mailto:rob.g.schwartz@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
	</div>
</div>