<div id="resume">
	<div id="resume-backdrop">
		<div class="content-text">
			<div class="resume-block">
				<div class="resume-header">
					<p style="margin-top:-.2em;">Education</p>
					<a href="downloads/RobSchwartz_Resume.pdf" style="font-size:.5em; display: none;" download>Download&nbsp;<i class="fas fa-cloud-download-alt"></i></a>
				</div>
				<div class="resume-item">
					<img class="resume-item-img" src="images/resume/amherst2.png" alt="Amherst College">
					<div class="resume-item-content">
						<p class="resume-item-name">Amherst College<span style="font-weight:200;font-style:italic;">&nbsp;| Amherst, MA</span></p>
						<p class="resume-item-desc">B.A., Computer Science & Philosophy</p>
						<p class="resume-item-desc" style="margin-top:-3px;">Class of 2019</p>
					</div>
				</div>
				<div class="resume-item">
					<img class="resume-item-img" src="images/resume/andover2.png" alt="Phillips Academy">
					<div class="resume-item-content">
						<p class="resume-item-name">Phillips Academy<span style="font-weight:200;font-style:italic;">&nbsp;| Andover, MA</span></p>
						<p class="resume-item-desc">High School Diploma</p>
						<p class="resume-item-desc" style="margin-top:-3px;">Class of 2015</p>
					</div>
				</div>
			</div>
			<div class="resume-block">
				<p id="prof-exp" class="resume-header">Professional Experience</p>
				<div class="resume-item">
					<img class="resume-item-img" src="images/resume/colonist.png" alt="Colonist.io">
					<div class="resume-item-content">
						<p class="resume-item-name">Colonist.io<span style="font-weight:200;font-style:italic;">&nbsp;| Remote</span></p>
						<p class="resume-item-desc">Online Board Game</p>
						<p class="resume-item-desc" style="margin-top:-3px;">Software Developer, Feb. 2023 - Present</p>
					</div>
				</div>
				<div class="resume-item">
					<img class="resume-item-img" src="images/resume/whova.png" alt="Whova">
					<div class="resume-item-content">
						<p class="resume-item-name">Whova<span style="font-weight:200;font-style:italic;">&nbsp;| San Diego, CA</span></p>
						<p class="resume-item-desc">Event Management Software Firm</p>
						<p class="resume-item-desc" style="margin-top:-3px;">Software QA Manager, 2021 - 2023</p>
					</div>
				</div>
				<div class="resume-item">
					<img class="resume-item-img" src="images/resume/code.png" alt="Freelance Web Development">
					<div class="resume-item-content">
						<p class="resume-item-name">Self-Employed<span style="font-weight:200;font-style:italic;">&nbsp;| Seattle, WA</span></p>
						<p class="resume-item-desc">Freelance Developer and Tutor</p>
						<p class="resume-item-desc" style="margin-top:-3px;">Freelance/Tutor, 2020</p>
					</div>
				</div>
				<div class="resume-item">
					<img class="resume-item-img" src="images/resume/fwcook.png" alt="FW Cook">
					<div class="resume-item-content">
						<p class="resume-item-name">FW Cook & Co.<span style="font-weight:200;font-style:italic;">&nbsp;| Los Angeles,  CA</span></p>
						<p class="resume-item-desc">Compensation Consultancy Firm</p>
						<p class="resume-item-desc" style="margin-top:-3px;">Consultant, 2019 - 2020</p>
					</div>
				</div>
				<div class="resume-item">
					<img class="resume-item-img" src="images/resume/signalfox.png" alt="Signal Fox">
					<div class="resume-item-content">
						<p class="resume-item-name">Signal Fox<span style="font-weight:200;font-style:italic;">&nbsp;| New York, NY</span></p>
						<p class="resume-item-desc">B2B Data Analytics Startup</p>
						<p class="resume-item-desc" style="margin-top:-3px;">Data Science Intern, Summer 2018</p>
					</div>
				</div>
				<div class="resume-item">
					<img class="resume-item-img" src="images/resume/brookwood.png" alt="Brookwood Financial">
					<div class="resume-item-content">
						<p class="resume-item-name">Brookwood Financial<span style="font-weight:200;font-style:italic;">&nbsp;| Beverly, MA</span></p>
						<p class="resume-item-desc">Private Equity Real Estate Firm</p>
						<p class="resume-item-desc" style="margin-top:-3px;">Summer Analyst, Summer 2017</p>
					</div>
				</div>
				<div class="resume-item">
					<img class="resume-item-img" src="images/resume/nantucketnet.png" alt="Nantucket.net" style="margin-left:4px;">
					<div class="resume-item-content" style="margin-left:-4px;">
						<p class="resume-item-name">Nantucket.net<span style="font-weight:200;font-style:italic;">&nbsp;| Nantucket, MA</span></p>
						<p class="resume-item-desc">Web Development Firm</p>
						<p class="resume-item-desc" style="margin-top:-3px;">Web Development Intern, Summer 2016</p>
					</div>
				</div>
			</div>
			<div class="resume-block">
				<p id="skills" class="resume-header">Skills</p>
				<div class="resume-skill">
					<p>TypeScript</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="resume-skill">
					<p>HTML/CSS</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="resume-skill">
					<p>SQL</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
				</div>
				<div class="resume-skill">
					<p>JavaScript</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
				</div>
				<div class="resume-skill">
					<p>Python</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
				</div>
				<div class="resume-skill">
					<p>Java</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
				</div>
				<div class="resume-skill" style="margin-top: 2rem;">
					<p>Express</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="resume-skill">
					<p>React</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
				</div>
				<div class="resume-skill">
					<p>Next.js</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
				</div>
				<div class="resume-skill">
					<p>Spring</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
				</div>
				<div class="resume-skill" style="margin-top: 2rem;">
					<p>Excel</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="resume-skill">
					<p>Metabase</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
					</div>
				</div>
				<div class="resume-skill">
					<p>Figma</p>
					<div class="resume-stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
				</div>
			</div>
		</div>
		<a style="display: none;" href="downloads/RobSchwartz_Resume.pdf" id="download-pdf" download>Download&nbsp;<i class="fas fa-cloud-download-alt"></i></a>
	</div>
	<div id="resume-image">
		<p class="page-header" style="margin-left:-156.4px;">RESUME</p>
		<ul class="image-menu">
			<li><a href="#about">ABOUT</a></li>
			<li>/</li>
			<li><a href="#resume">RESUME</a></li>
			<li>/</li>
			<li><a href="#contact">CONTACT</a></li>
			<li>/</li>
			<li><a href="https://the-residual.com" target="_blank">BLOG</a></li>
		</ul>
	</div>
</div>

